@mixin basic-block-size {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1280px) 1fr;
  .container {
    grid-column: 2 / 3;
  }
}

@mixin dark-background {
  background:url(../../images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%)
}

@mixin alternative-background {
  background: #F6F6F6;
}

@mixin articles($gap, $width) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  max-width: $width;
}