@mixin basic-block-size {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1280px) 1fr;
  .container {
    grid-column: 2 / 3;
  }
}

@mixin dark-background {
  background:url(../../images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

@mixin alternative-background {
  background: #F6F6F6;
}

@mixin articles($gap, $width) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  max-width: $width;
}