$color-light: #FFFFFF;
$color-grey: #CDCDCD;
$color-dark-text: #4C4C4C;
$color-dark-title: #545454;
$color-dark-buttons: #292929;
$color-dark-italic: #B2B2B2;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;



$tablet: 1019px;