.about {
  .container {
    display: flex;
    justify-content: flex-end;
    background: url(../../images/aboutPets.png) 19.5% 43.5% / 25% no-repeat;
    padding-bottom: 114px;
  }

}
.about__content {
  @include articles(25px, 432px);
  margin: 96px 14.4% 0 0;
}
.about__title {
  max-width: 370px;

}

.about__text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: $color-dark-text;
}