.about {
}
.container {
}
.about__content {
}
.title {
}
.our-friends__title {
}
.about__text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: $color-dark-text;
}