.about {
  .container {
    display: flex;
    justify-content: flex-end;
    background: url(../../images/aboutPets.png) 25% 0 / contain no-repeat;
  }

}
.about__content {
  @include articles(25px, 435px);
}
.title {
}

.about__text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: $color-dark-text;
}