.footer {
  
  height: 100%;
  // height: 294px;
  @include dark-background;
  .container {
    display: flex;
    gap: 139px;
    padding: 56px 0 56px 0;
    background: url(../../images/footerPuppy.png) 100% 100%/25% no-repeat;
  }

}

.footer-link {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $color-primary;
}

.footer-info {
  @include articles(36px, 300px)
}
.footer-info__contact {
}
.title {
}
.footer__title {
}

.footer-contact__email {
  &::before {
    content: url(../../images/icons/icon-email.svg);
  }
}
.footer-contact__phone {
  &::before {
    content: url(../../images/icons/icon-phone.svg);
  }
}
.footer-info__address {
  gap: 32px;
}
.footer-address__address {
  &::before {
    content: url(../../images/icons/icon-marker.png);
  }
}

.footer__title {
  color: $color-light;
}