.footer {
  
  height: 100%;
  max-height: 350px;
  @include dark-background;
  .container {
    display: flex;
    gap: 139px;
    padding: 56px 0 56px 0;
    background: url(../../images/footerPuppy.png) 100% 100%/25% no-repeat;
  }

  @media (max-width: $tablet) {
    max-height: none;
    .container {
      justify-content: space-evenly;
      padding: 31px 0 372px 0;
      background-position: 50% 100%;
      background-size: 31%;
      gap: 0;
    }
  }

  @media (max-width: 850px) {
    .container {
      background-size: 43%;
    }
  }
  @media (max-width: 670px) {
    .container {
      // background-size: 43%;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }
  @media (max-width: 550px) {
    .container {
      padding: 31px 0 95% 0;
      background-size: 67%;
    }
  }
  @media (max-width: 370px) {
    .container {
      padding: 31px 0 102% 0;
      background-size: 87%;
      gap: 37px;
    }
  }
  

}

.footer-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $color-primary;
  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: $color-primary;
    border-radius: 10px;
    transition: all linear .3s;
  }

  @media (hover: hover) {
    &:hover::after {
      left: 0;
      width: 100%;
    }
  }
}

.footer-info {
  @include articles(36px, 300px);
  @media (max-width: 500px) {
    align-items: center;
  }

  @media (max-width: 350px) {
    &:last-child .footer__title {
      max-width: 290px;
    }
    &:last-child .footer-link:last-child {
      align-self: flex-start;
    }
  }

}
.footer-info__contact {
}
.title {
}
.footer__title {
  
}

.footer-contact__email {
  &::before {
    content: url(../../images/icons/icon-email.svg);
  }
}
.footer-contact__phone {
  &::before {
    content: url(../../images/icons/icon-phone.svg);
  }
}
.footer-info__address {
  gap: 32px;
  @media (max-width: 350px) {
    gap: 38px;
  }
}
.footer-address__address {
  &::before {
    content: url(../../images/icons/icon-marker.png);
  }
}

.footer__title {
  color: $color-light;
}