.header {
  height: 120px;
  margin-bottom: -120px;
  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 500px) {
    padding: 0 20px;
  }
}

.logo {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 12px;
  
  @media (hover: hover) {
    &:hover .logo__title::after {
      left: 0;
      width: 100%;
    }
  }
}



.logo__title {
  position: relative;
  color: $color-primary;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  &::after{
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: $color-primary;
    border-radius: 10px;
    transition: all linear .3s;
  }
}

.logo__subtitle {
  color: $color-light;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: 0.1em;
  margin-left: 3px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 443px;
  
  @media (max-width: 710px) {
    display: none;
  }
}

.navigation__link {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: $color-grey;
  transition: color linear .2s;

  @media (hover: hover) {
    &:hover {
      color: $color-light;
    }
  }
}

.current-page {
  position: relative;
  color: $color-light;
  border-bottom: 3px solid $color-primary;
}
