.header {
  // @include basic-block-size;
  height: 180px;
  margin-bottom: -180px;
  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.logo__title {
  color: $color-primary;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}
.logo__subtitle {
  color: $color-light;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.3rem;
  letter-spacing: 0.1em;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 440px;
  
}
.navigation__item {
}
.navigation__link {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: $color-grey;
  
}

.current-page {
  position: relative;
  color: $color-light;
  border-bottom: 3px solid $color-primary;
  &::after {

  }
}
