.in-addition {
  @include alternative-background;
  .container {
    display: flex;
    justify-content: flex-end;
    background: url(../../images/additionDog.png) 25% 0 / contain no-repeat;
  }
}
.in-addition__content {
  @include articles(20px, 385px)
}
.title {
}
.in-addition__title {
}
.in-addition__text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: $color-dark-title;
}
.card-number {
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $color-dark-title;
}
.about__policy {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: $color-dark-italic;
}