.not-only {
  padding-top: 120px;
  // height: 700px;
  @include dark-background;
  .container {
    height: 100%;
    background: url(../../images/mainPuppy.png) 100% 0 / contain no-repeat;
    padding: 150px 0 252px 0;;
  }
  
  &__button {
    max-width: 208px;
  }
}

.container {
}
.not-only__content {
  @include articles(42px, 460px);
}
.title {
}
.not-only__title {
  max-width: 320px;
  letter-spacing: normal;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 130%;
  color: $color-light;
}
.not-only__text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: $color-grey;
}
.button {

}