.our-friends {
  padding: 79px 40px 100px 40px;
  @include alternative-background;
  .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    .button {
      margin-top: -4px;
    }
  }
}



.our-friends__title {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

