.our-friends__slider {
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.slider__container {
  position: relative;
  overflow: hidden;
  order: 2;
  display: flex;
  justify-content: center;
  max-width: 990px;
  width: 100%;
}


.slider__next {
  order: 3;
  
}
.slider__prev {
  order: 1;
  transform: rotate(180deg);
}
.slider-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid $color-primary;
  border-radius: 100px;
  background-color: transparent;
  width: 52px;
  height: 52px;
  &::after {
    content: url(../../images/icons/arrow.svg);
  }
}

.slider__row {
  position: relative;
  left: 0%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  animation: 1s ease-in-out;
}

/* Slider cards you can find in components/pets-card*/


// Animation

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  // animation-direction: reverse;
}


.from-left {
  position: absolute;
  top: 0;
  animation-name: left;
  animation-direction: reverse;
}
.from-right {
  position: absolute;
  top: 0;
  animation-name: right;
  animation-direction: reverse;
}




@keyframes left {
  0% {
    left: 0%;
  }
  100% {
    left: -110%;

  }
}

@keyframes right {
  0% {
    left: 0%;
  }
  100% {
    left: 110%;

  }
}