.our-friends__slider {
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  @media (max-width: 460px) {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.slider__container {
  position: relative;
  overflow: hidden;
  order: 2;
  display: flex;
  justify-content: center;
  max-width: 990px;
  width: 100%;
  @media (max-width: 460px) {
    order: 1;
  }
  
}


.slider__next {
  order: 3;
  @media (max-width: 400px) {
    margin: 9px -13px 0 0;
  }
  
  
}
.slider__prev {
  order: 1;
  transform: rotate(180deg);
  @media (max-width: 400px) {
    margin: 9px 0 0 -13px;
  }
}
.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px;
  border: 2px solid $color-primary;
  border-radius: 100px;
  background-color: transparent;
  width: 52px;
  height: 52px;
  transition: background-color linear .3s;
  cursor: pointer;
  &::after {
    content: url(../../images/icons/arrow.svg);
  }
  @media (hover:hover) {
    &:hover {
      background-color: $color-primary-light;
    }
  }
}

.slider__row {
  position: relative;
  left: 0%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  animation: 1s ease-in-out;
  @media (max-width: 950px) {
    justify-content: space-evenly;
  }
  @media (max-width: 830px) {
    justify-content: space-between;
  }
  @media (max-width: 700px) {
    justify-content: center;
  }
}

/* Slider cards you can find in components/pets-card*/


// Animation

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  // animation-direction: reverse;
}


.from-left {
  position: absolute;
  top: 0;
  animation-name: left;
  animation-direction: reverse;
}
.from-right {
  position: absolute;
  top: 0;
  animation-name: right;
  animation-direction: reverse;
}




@keyframes left {
  0% {
    left: 0%;
  }
  100% {
    left: -110%;

  }
}

@keyframes right {
  0% {
    left: 0%;
  }
  100% {
    left: 110%;

  }
}


@media (max-width: 950px) {
  .pet-card:nth-child(3) {
    display: none;
  }
}
@media (max-width: 700px) {
  .pet-card:nth-child(n+2) {
    display: none;
  }
}
